# --- Ignorar Arquivos do Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Ignorar Ambiente Virtual (MUITO IMPORTANTE) ---
venv/
env/
.env

# --- Ignorar Banco de Dados Local ---
db.sqlite3

# --- Ignorar Arquivos de Sistema e IDE ---
.DS_Store
Thumbs.db
.vscode/

# --- Ignorar Mídia (Fotos de teste não devem subir) ---
media/
staticfiles/